{% extends "layout.html" %}

{% block content %}
    <main class="hero-section">
        <div class="container">
            
            <div class="section-content">
                <h2>Discover places near you</h2>
                <button type="button" class="btn btn-primary">Sign up</button>
                <button type="button" class="btn btn-secondary">Learn More</button>
            </div>

            <div class="section-device">
                <img src="static/img/mapBundy.png" width="200" height="200"/>
            </div>

            <div class="clearfix"></div>

        </div>
    </main>
{% endblock %}